@font-face {
  font-family: 'GoogleSans-Bold';
  src: url('GoogleSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* 控制字体加载期间的显示行为 */
}
@font-face {
  font-family: 'vivoSans-Bold';
  src: url('vivoSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* 控制字体加载期间的显示行为 */
}
  gsb-text {
  font-family: 'GoogleSans-Bold', sans-serif;
}
vsb-text {
  font-family: 'vivoSans-Bold', sans-serif;
}